.checker {
  display: flex;
  flex-flow:  row nowrap;
  gap: 4px;
}

.checker-header {
  font-size: 10px;
  line-height: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;

  .cell {
    flex: 0 0 10px;
  }
}

.checker-board {
  display: flex;
  flex-flow: column wrap;
  gap: 4px;
  height: calc(70px + 4px * 6);
}

.check-cell {
  background-color: green;
  border-radius: 2px;
  width: 10px;
  height: 10px;
}
