:host {
  display: block;
  height: 100vh;
}

mat-sidenav-container {
  height: 100%;
}

.boards-list {
  padding-top: 0.8rem;
  width: 400px;
  height: 100%;
  background-color: var(--mat-sys-surface-container-low);

  app-boards-list {
    height: 100%;
  }
}

.board-view {
  padding-top: 6rem;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
}
