<mat-sidenav-container>
  <mat-sidenav [opened]="isSideNavOpen()" mode="side" class="boards-list">
    <button matIconButton (click)="toggleSideNav()" class="sidenav-toggler">
      <mat-icon>keyboard_double_arrow_right</mat-icon>
    </button>
    <app-boards-list></app-boards-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="board-view">
      @if (selectedBoard$ | async; as board) {
        <app-habit-dashboard [board]="board"></app-habit-dashboard>
      }
      @if (!havingBoards()) {
        <app-empty-content></app-empty-content>
      }
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
