:host {
  display: block;
  height: 100vh;
}

mat-sidenav-container {
  height: 100%;
}

::ng-deep {
  .mat-drawer:not(.mat-drawer-opened) {
    visibility: unset !important;
    box-shadow: unset !important;
    transform: translate(calc(-100% + 50px), 0);

    .mat-drawer-inner-container {
      display: unset !important;
    }

    .sidenav-toggler {
      right: 6px;
    }
  }
}

.boards-list {
  padding-top: 0.8rem;
  width: 400px;
  height: 100%;
  background-color: var(--mat-sys-surface-container-low);

  app-boards-list {
    height: 100%;
  }
}

.sidenav-toggler {
  position: absolute;
  right: 12px;
  top: 12px;
}

.board-view {
  padding-top: 6rem;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
}
