:host {
  display: block;
  height: 100vh;
}

mat-sidenav-container {
  height: 100%;
}

.boards-list {
  padding-top: 0.8rem;
  width: 400px;
  height: 100%;
  background-color: var(--mat-sys-surface-container-low);

  app-boards-list {
    height: 100%;
  }
}

.board-view {
  flex: 1 1;
  padding: 8rem 2rem;
}
