.hero-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mat-sys-surface-container);
}

.hero-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.hero-label {
  font-size: 3.2rem;
  line-height: 1.2;
  width: 75%;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.provider-actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
