<button class="create-new-btn" matButton="filled" (click)="onCreateNewBtn()">Create new</button>

<cdk-virtual-scroll-viewport appendOnly itemSize="190.8" class="scroll-viewport">
  <button
    *cdkVirtualFor="let board of boards$ | async"
    class="board"
    [class.selected]="selectedBoard()?.id === board.id"
    [style.background-color]="board.color ? `var(--${board.color})` : undefined"
    (click)="onSelectBoard(board)"
  >
    <div class="board-card-content">
      <div class="card-header">
        <span class="card-title">{{ board.name }}</span>
        <button matIconButton [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <div class="card-content">
        <app-checker-board [board]="board" columns="15"></app-checker-board>
      </div>
      <div class="card-footer"></div>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onDeleteBtn(board)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>share</mat-icon>
        <span>Share</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>save_as</mat-icon>
        <span>Export</span>
      </button>
    </mat-menu>
  </button>
</cdk-virtual-scroll-viewport>
