@use 'sass:color';

:host {
  display: flex;
  flex-flow: column nowrap;
  padding-inline: 1.3rem;
}

.create-new-btn {
  margin-bottom: 1.2rem;
  width: fit-content;
}

.scroll-viewport {
  flex: 1 1;
  width: 342px;
  padding-bottom: 12.8px;
}

.board {
  margin-left: 0.5rem;
  height: 178px;
  width: 300px;
  background-color: var(--mat-sys-surface-container-lowest);
  border-radius: 8px;
  cursor: pointer;
  border: none;
  box-shadow: var(--shadow-md);
  transition: all 0.3s ease;
  margin-top: 12.8px;

  .board-card-content {
    padding: 0.8rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--mat-sys-surface-container-lowest),
      var(--mat-sys-surface-container-highest) 8%
    );
  }

  &:active {
    background-color: color-mix(
      in srgb,
      var(--mat-sys-surface-container-lowest),
      var(--mat-sys-surface-container-highest) 10%
    );
  }

  &.selected {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    background-color: color-mix(
      in srgb,
      var(--mat-sys-surface-container-lowest),
      var(--mat-sys-surface-container-highest) 36%
    );
  }

  .card-header,
  .card-footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .card-title {
    font-weight: 600;
  }
}
