@use 'sass:color';

:host {
  display: flex;
  flex-flow: column nowrap;
  padding-inline: 1.3rem;
}

.create-new-btn {
  margin-bottom: 1.2rem;
  width: fit-content;
}

.scroll-viewport {
  flex: 1 1;
}

.board {
  position: relative;
  height: 178px;
  width: 400px;
  background-color: var(--mat-sys-surface-container);
  border-radius: 8px;
  cursor: pointer;
  border: none;
  box-shadow: var(--shadow-md);
  transition: all 0.3s ease;

  .board-card-content {
    padding: 0.8rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .state {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    opacity: 0;
  }

  &:hover {
    .state {
      opacity: 0.08;
    }
  }

  &:active {
    .state {
      opacity: 0.1;
    }
  }

  &.selected {
    .state {
      background-color: var(--mat-sys-surface-container-highest);
      opacity: 0.3;
    }
  }

  & + & {
    margin-top: 12.8px;
  }

  .card-header,
  .card-footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .card-title {
    font-weight: 600;
  }
}
