// Configuring media query mixins
@mixin media($size) {
  @if $size == 'mobile' {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == 'tablet' {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == 'tablet-landscape' {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == 'desktop' {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == 'wide' {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
