<h2 mat-dialog-title>Create new board</h2>
<mat-dialog-content>
  <form [formGroup]="createBoardForm">
    <mat-form-field>
      <mat-label>Enter habit board name</mat-label>
      <input matInput placeholder="Daily push-ups" formControlName="name" />
      @if (createBoardForm.controls.name.invalid) {
        <mat-error>{{ getErrorMessage(createBoardForm.controls.name) }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Display color</mat-label>
      <mat-select formControlName="color">
        @for (color of COLORS; track color.value) {
          <mat-option [value]="color.value">
            <div class="color-option">
              <div class="color-display" [style.background-color]="`var(--${color.value})`"></div>
              <span>{{ color.label }}</span>
            </div>
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton mat-dialog-close>Cancel</button>
  <button matButton [disabled]="createBoardForm.invalid" [mat-dialog-close]="createBoardForm.value">
    Save
  </button>
</mat-dialog-actions>
