form {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 590px;
  gap: 0.8rem;
}

.color-display {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
}

.color-option {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.4rem;
}
